Repository Atos20/what-s-cooking-refactor, pull requests merged in 2020-09, with the labels that each got.

#26 Implement sass styling format
  .vscode/settings.json
  src/css/base.scss
  src/css/styles.scss
  src/css/variables.scss
  src/index.html
  src/scripts.js
Labels: DOM manipulations, SASS ✍🏽, refactor, styling 🖌

#28 Finish class functionality
  src/cookbook.js
  src/domUpdates.js
  src/pantry.js
  src/recipe.js
  src/scripts.js
  src/user.js
  test/pantry-test.js
  test/sampleUserData.js
  test/user-test.js
Labels: DOM manipulations, class, data, refactor, tests

#29 Add and save to pantry
  src/pantry.js
  src/user.js
  test/pantry-test.js
Labels: data, documentation, tests

#30 Further Separate `domUpdates` and `scripts`
  src/cookbook.js
  src/domUpdates.js
  src/pantry.js
  src/scripts.js
Labels: DOM manipulations, data, refactor

#36 Testing refactor
  src/user.js
  test/cookbook-test.js
  test/pantry-test.js
  test/recipe-test.js
  test/user-test.js
Labels: class, enhancement, refactor, tests

#38 Feature/add recipes to cook
  src/domUpdates.js
  src/index.html
  src/scripts.js
  src/user.js
Labels: DOM manipulations, bug, enhancement

#43 Connect post to dom
  src/cookbook.js
  src/css/styles.scss
  src/domUpdates.js
  src/index.html
  src/pantry.js
  src/scripts.js
  src/user.js
  test/user-test.js
  webpack.config.js
Labels: enhancement, good first issue, help wanted

#44 Feature/enhance and consolidate styling
  src/css/base.scss
  src/css/queries.scss
  src/css/styles.scss
  src/css/variables.scss
  src/domUpdates.js
  src/index.html
Labels: DOM manipulations, SASS ✍🏽, enhancement, styling 🖌

#45 Feature/write readme
  README.md
  src/css/queries.scss
  src/css/styles.scss
  src/domUpdates.js
  src/index.html
Labels: documentation

#46 Feature/display feedback after cooking meal
  package.json
  src/css/styles.scss
  src/domUpdates.js
  src/pantry.js
  src/scripts.js
  test/pantry-test.js
  test/user-test.js
Labels: DOM manipulations, class, tests

#48 Feature/fixbug on displaying feedback per ing name
  src/cookbook.js
  src/data/ingredients.js
  src/data/test-data/dummy-ingredients.js
  src/data/test-data/dummy-recipe.js
  src/data/test-data/dummy-user-data.js
  src/domUpdates.js
  src/pantry.js
  src/scripts.js
  src/user.js
  test/dom-updates-test.js
  test/pantry-test.js
  test/sampleUserData.js
  test/user-test.js
Labels: DOM manipulations, bug, class, enhancement, refactor, tests
